$fontAlternative: #fff;
$bgimg: "../../assets/img/zdjecie-1.jpg";
$mainFont: 'Montserrat', sans-serif;
$mainBg: #fff;
$paragraphColor: #a9a9a9;
$secondaryBg: #f7f7f7;
$employersBg: #000;
$iconColor: $paragraphColor;
$iconTextParagraphColor: #000;
$imagesBorder: solid 1px $paragraphColor;
$redBar: rgb(255, 0, 0);
$grayBar: #eaeaea;
$firstLabel: #e21a1a;
$secondLabel: #ffba45;
$thirdLabel: #4baf4f;
$buttonHover: #e5191a;
$linkHover:  #e5191a;
$button: #202020;
$postBg: #fff;
$navBgColor: rgba(255, 255, 255, 1);
$navAlternativeColor: #000;
$arrowColor: $paragraphColor;
$burgerColor: #fff;
$firstBrakePoint: 1050px;
$secondBrakePoint: 905px;
$thirdBrakePoint: 610px;